.table-meas {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    
}

.table-meas__td {
    border: 1px solid #ffffff;
}

.table-meas__th,
.table-meas__td,
.table-meas__td a {
    color: #ffffff;
    padding: 8px 15px;
}


.table-meas__td p{
    text-align: left;
    font: initial;
    color: #ffffff;
    padding: 8px 15px;
}

.table-meas a {
    color: lightblue;
    font-weight: 600;
    padding: 0;
}

.table-meas__td a {
    text-decoration: none;
}

.table-meas__th:first-of-type {
    text-align: center;
}